
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333333;
    line-height: 1.6;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(wide-angle-shot-white-smoke-coming-out-nuclear-plants_181624-14959.avif);
  }
  
  
  header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333333;
  }
  
  
  main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  ul, ol {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  
  footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #777777;
  }

  ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }